<div class="menu-itens">
    <mat-toolbar class="mat-primary">
         <span id="logo">ServiOn</span>
        <span class="space"></span>
        <span id="homeheader">Home</span>   
        <span class="others">Services</span>   
        <span class="others">Our Plans</span>
        <span class="others">Tools & Recourses</span>
        
        <span class="others">
            <button class="button1">Login<img src="/assets/img/login.png" width="13px" height="13px" id="img-Log"></button>
        </span>

    </mat-toolbar>
</div>

  