<div class="price-component">
    <div class="content">
        <div class="alinhamento">
            <div class="color"><div class="img"></div></div>
        </div>
        <div class="title">SHARED HOSTING</div>
        <div class="text">Increase the rank of you website by the higher speed</div>
    </div>
    
    <div class="price">
        <div class="text2">Get started at</div>
        <div class="price-per-month">$ 15,99/ <p id="month"> month</p></div>
        <button class="submit">CUSTOMISE PLAN ></button>
    </div>
</div>
