<app-header></app-header>

<!-- home (secao-principal) -->

<div class="secao-principal">
    <div class="title-column">
        <div class="title">Web Hosting Easy and Secure</div>
        <div class="subtitle">Full control of what you use and pay for</div>
        <div class="form">
            <input type="text" placeholder="Search for a domain name">
            <select id="form">
                <option value="valor1">.com</option>
                <option value="valor2">.com.br</option>
            </select>
            <input type="submit" value="CHECK AVAILABILITY">
        </div>
    </div>
    <div class="image-column">
        <img src="assets/img/detalhe-home.png" id="img-home">
    </div>
</div>

<div class="layout"><div class="esquerda"></div><div class="direita"></div></div>

<!--Home (secao-secundaria) -->

<div class="secao-secundaria">
    <h2 class="title2">What will you get if you'll join us</h2>
    <p class="subtitle2">Get the best web hostingservice at the price you can afford</p>

    <div class="grid-container">

        <div class="item1">
            <span class="material-icons">construction</span>
        </div>
        <div class="item2">
            <h3 class="title3">WE GIV A CARE</h3>
            <p class="text1">Beside the support we provide you with various<br>
                tools to be able to host and manage your websites
            </p>
        </div>
        <div class="item3">
            <img src="/assets/img/cloud.png" width="73px" height="71px" class="material-icons">
        </div>
        <div class="item4">
            <h3 class="title3">TWEAK AS YOU WISH</h3>
            <p class="text1">Be able to costumize your plan over time if needed<br>
                so you pay only for what you use
            </p>
        </div>
        <div class="item5">
            <img src="/assets/img/Globe.png" width="71px" height="71px" class="material-icons">
        </div>
        <div class="item6">
            <h3 class="title3">SECURITY AT ITS BEST</h3>
            <p class="text1">We are the most reliable service provider ready to give<br>
                you a helping hand the fastest way possible 24/7
            </p>
        </div>
        <div class="item7">
            <div class="img1"></div>
            <div class="gradiente"></div>
        </div>
    </div>
</div>


<!--secao-terciaria -->

<div class="secao-terciaria">
    <div class="title2">Don't know where to start from?</div>
    <p class="subtitle2">We've got the best articles, tools and resources to help you to start</p>

    <div class="grid-container">
        <div class="item8 box1">
            <div id="img2"></div>
            <h3 class="h3">PLANNING TO BUILD A WEBSITE</h3>
            <p class="text3">You want to build a new website but not sure what to start with? We've
                prepared a step by step guide for you to handle the whole process from
                design to launch
            </p>
            <form>
                <input type="submit" value="LEARN MORE">
            </form>
        </div>

        <div class="item9 box2">
            <div id="img3"></div>
            <h3 class="h3">WANT TO MOVE A WEBSITE TO SERVION</h3>
            <p class="text3">Already have an existing website and want to move it to Servion but not sure
                how to do it? No worries, it's not difficult, we can handle all the work
                for you.
            </p>
            <form>
                <input type="submit" value="LEARN MORE">
            </form>
        </div>
    </div>
</div>

<!-- secao-quatro -->

<div class="secao-quatro">
    <div class="title2">Types of hosting that we provide</div>
    <div class="subtitle2">Our service is always affordable for everyone.</div>
    
    <div class="prices">
        <div class="price1" *ngFor="let price of priceList">
            <app-price [price]="price"></app-price>
        </div>
    </div>
</div>

<!-- secao-cinco -->
<div class="secao-cinco">
    <div class="title2">Valued customers with valuable feedback</div>
    <div class="subtitle2">Feedbacks from our happy users. Become one of them.</div>

</div>



<div class="secao-seis">
    <div class="content-secao-seis">
        <div class="title2">Our Clients</div>
        <div class="subtitle2">You can be the next one and may start for free</div>
        <div class="client-img">
            <div id="robinhood"></div>
            <div class="client" id="reddit"></div>
            <div class="client" id="upcase"></div>
            <div class="client" id="hubspot"></div>
            <div class="client" id="tunein"></div>
            <div class="client" id="botton">
                <input type="submit" value="GET FREE TRIAL">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>