*{margin: 0%;}

@font-face {
    font-family: "Nunito Regular";
    src: url(assets/Nunito/Nunito-Regular.ttf) format("opentype");
  }

@font-face {
  font-family: "Roboto Regular";
  src: url(assets/Roboto/Roboto-Regular.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
